# **astype, isna, fillna e dropna**

In [1]:
import pandas as pd

In [ ]:
# Criar o DF
dados = {
    'Nome': ['Alice', 'Robert', 'Carla'],
    'Idade': [25, 30, 35],
    'Status': ['ativo', 'inativo', 'ativo']
}

df = pd.DataFrame(dados)
print(df)

In [ ]:
# apply()
def categoria_idade(idade):
  if idade < 30:
    return 'Jovem'
  else:
    return 'Adulto'

df['Categoria_Idade'] = df['Idade'].apply(categoria_idade)

In [ ]:
# map()
mapeamento_status = {'ativo': 'Ativo', 'inativo': 'Inativo'}
df['Status_Formatado'] = df['Status'].map(mapeamento_status)
print(df)

In [ ]:
# apply()
df['Idade_Dobrada'] = df['Idade'].apply(lambda x : x * 2)
print(df)