# **Desafio Prático: EDA Tech Store**

## Recursos

[Pasta com Dataset CSV da Rocketseat](https://xesque.rocketseat.dev/challenges/resources/files/1761524177691.zip)

## Para que serve o projeto?

Implemente, do zero, um sistema de análise de dados de vendas em Python, utilizando um arquivo CSV. O sistema deve carregar os dados, exibir informações básicas, realizar consultas específicas e, opcionalmente, gerar visualizações e relatórios.

## Instruções

A empresa fictícia TechStore forneceu um arquivo com o histórico de vendas de produtos.

Sua missão é realizar uma análise exploratória para responder perguntas de negócio e gerar algumas visualizações simples.

## Modelo de dados (arquivo `vendas.csv`)

O arquivo `vendas.csv` contém o histórico de vendas de produtos. As colunas esperadas são:

- `produto` (string)
- `categoria` (string)
- `quantidade` (inteiro)
- `preco_unitario` (float)
- `regiao` (string)
- `data_venda` (data)

## Requisitos

- Carregar os dados a partir do arquivo `vendas.csv`.
- Exibir informações básicas:
  - Mostrar as 5 primeiras linhas do dataset.
  - Exibir o número total de registros (linhas).
  - Calcular a receita total (coluna `quantidade` multiplicada pela coluna `preco_unitario`).
- Fazer consultas específicas:
  - Filtrar e exibir as vendas da categoria "Eletrônicos".
  - Identificar e exibir o produto mais vendido (em quantidade).
  - Descobrir e exibir a região com maior valor de compras.

## Como executar

Salve o código Python em um arquivo em Jupiter Notebook (ex: `analise_vendas.py`).
Certifique-se de que o arquivo `vendas.csv` esteja no mesmo diretório.
Execute o script Python no terminal ou no Colab: `python analise_vendas.py`

## Desafio extra (opcional)
- Gerar visualizações:
  - Gráfico de barras mostrando a receita por categoria.
  - Gráfico de linha mostrando a evolução das vendas por mês.
- Extra (opcional):
  - Criar um relatório exportado em `.xlsx` ou `.pdf`.
  - Montar uma tabela dinâmica com receita por região × categoria.

In [1]:
import pandas as pd

In [7]:
# Carregando os dados a partir do arquivo vendas.csv
df_vendas = pd.read_csv('/content/vendas.csv')

In [8]:
# Exibindo informações básicas
print(df_vendas.head())

         data            produto    categoria  quantidade  preco_unitario  \
0  2025-12-09          Headset G  Periféricos           1            2759
1  2025-03-12          Armário P       Móveis           2            4516
2  2025-11-24  Mesa Escritório N       Móveis           1            4347
3  2025-09-14            Tênis T    Vestuário           3            3046
4  2025-08-03             Boné V    Vestuário           2            4453

    cliente        regiao
0  Fernanda       Sudeste
1    Rafael         Norte
2    Rafael       Sudeste
3       Ana         Norte
4     Bruno  Centro-Oeste

In [10]:
print(df_vendas.shape)

(100, 8)

In [9]:
df_vendas["receita_total"] = df_vendas["quantidade"] * df_vendas["preco_unitario"]
df_vendas.head()

,data,produto,categoria,quantidade,preco_unitario,cliente,regiao,receita_total
0,2025-12-09,Headset G,Periféricos,1,2759,Fernanda,Sudeste,2759
1,2025-03-12,Armário P,Móveis,2,4516,Rafael,Norte,9032
2,2025-11-24,Mesa Escritório N,Móveis,1,4347,Rafael,Sudeste,4347
3,2025-09-14,Tênis T,Vestuário,3,3046,Ana,Norte,9138
4,2025-08-03,Boné V,Vestuário,2,4453,Bruno,Centro-Oeste,8906

In [13]:
# Fazendo consultas específicas
df_query = df_vendas.query('categoria == "Eletrônicos"')
print(df_query)

          data     produto    categoria  quantidade  preco_unitario   cliente  \
5   2025-07-24    Tablet D  Eletrônicos           2            4893  Fernanda
6   2025-05-20   Monitor B  Eletrônicos           1            3060     Lucas
9   2025-06-01   Celular A  Eletrônicos           3             516      João
10  2025-04-22   Celular A  Eletrônicos           2            1018  Fernanda
13  2025-11-24  Notebook X  Eletrônicos           1            2670       Ana
14  2025-05-30    Tablet D  Eletrônicos           4            2575     Maria
15  2025-09-19  Notebook X  Eletrônicos           2            2778    Rafael
27  2025-01-30  Notebook X  Eletrônicos           5            1006     Lucas
32  2025-07-07    Tablet D  Eletrônicos           2            2533    Camila
33  2025-11-20  Notebook X  Eletrônicos           4            3998     Pedro
36  2025-08-01      Fone C  Eletrônicos           5            2433     Pedro
41  2025-08-06      Fone C  Eletrônicos           5             246    Rafael
44  2025-05-25   Monitor B  Eletrônicos           2            3607     Lucas
49  2025-07-05      Fone C  Eletrônicos           4            2864  Fernanda
54  2025-04-01      Fone C  Eletrônicos           2            4350     Lucas
55  2025-04-09   Celular A  Eletrônicos           3            4362     Pedro
60  2025-10-05   Celular A  Eletrônicos           2            2742     Pedro
62  2025-11-29      Fone C  Eletrônicos           5            2798     Lucas
71  2025-10-12    Tablet D  Eletrônicos           2            4147      João
73  2025-08-15   Monitor B  Eletrônicos           5            3644     Pedro
76  2025-03-19   Celular A  Eletrônicos           5             922     Lucas
80  2025-03-16  Notebook X  Eletrônicos           3            4518    Rafael
83  2025-11-13      Fone C  Eletrônicos           5            4939    Rafael
85  2025-03-18  Notebook X  Eletrônicos           1            4603       Ana
90  2025-08-26   Monitor B  Eletrônicos           2            2718     Carla
91  2025-01-04  Notebook X  Eletrônicos           1            1612     Pedro
96  2025-10-16   Celular A  Eletrônicos           1            2046     Carla
97  2025-03-15   Celular A  Eletrônicos           5            4390     Carla

          regiao  receita_total
5        Sudeste           9786
6            Sul           3060
9   Centro-Oeste           1548
10      Nordeste           2036
13           Sul           2670
14      Nordeste          10300
15         Norte           5556
27       Sudeste           5030
32           Sul           5066
33      Nordeste          15992
36           Sul          12165
41       Sudeste           1230
44           Sul           7214
49       Sudeste          11456
54  Centro-Oeste           8700
55         Norte          13086
60         Norte           5484
62         Norte          13990
71           Sul           8294
73       Sudeste          18220
76           Sul           4610
80           Sul          13554
83  Centro-Oeste          24695
85  Centro-Oeste           4603
90       Sudeste           5436
91      Nordeste           1612
96           Sul           2046
97      Nordeste          21950

In [24]:
dados_por_produto = df_vendas.groupby("produto").agg(
    Quantidade_total=("quantidade", "sum"),
    Receita_Total=("receita_total", "sum"),
    Regiao=("regiao", "first")
).reset_index()

produto_mais_vendido = dados_por_produto.sort_values(by="Quantidade_total", ascending=False).head(1)
print(produto_mais_vendido)

   produto  Quantidade_total  Receita_Total    Regiao
15  Sofá Q                30          77777  Nordeste

In [26]:
regiao_com_maior_valor_de_compra = dados_por_produto.sort_values(by="Regiao", ascending=False).head(1)
print(regiao_com_maior_valor_de_compra)

      produto  Quantidade_total  Receita_Total Regiao
10  Jaqueta S                17          62197    Sul