# **Introdução aos sets**

**Conjuntos (Sets):** Um set é uma coleção não ordenada, mutável e que não permite elementos duplicados.

In [ ]:
# Sintaxe de um set
frutas = {"banana", "laranja", "uva"}

print(frutas)

print(type(frutas))

In [ ]:
# set vazio
frutas1 = set()
print(type(frutas1))

In [ ]:
# Não é possível utilizar valores duplicados em sets
numeros = {1, 2, 3, 4, 4, 5, 1, 2, 5}
frutas = {"banana", "laranja", "uva", "banana", "banana"}

print(numeros)
print(frutas)

In [ ]:
# Tamanho de um set
print(len(frutas))

In [ ]:
# Adicionando um item de um set
for x in frutas:
  print(x)

for x in numeros:
  print(x)

In [ ]:
# Verificando se um item existe em um set
if "banana" in frutas:
  print("Existe banana no set frutas")
else:
  print("Não existe banana no set frutas")

In [ ]:
# Não é possível editar um elemento, mas é possível adicionar novos elementos
frutas.add("melancia")
print(frutas)

In [ ]:
# A função update também pode adicionar um elemento, mas ela itera sobre o que for adicionado
numeros.update{"Python"}
print(numeros)

In [ ]:
# Concatenando sets
frutas1 = {"banana", "laranja"}
frutas2 = {"morango", "kiwi"}

frutas1.update(frutas2)

print(frutas1)

In [ ]:
# Excluindo um valor de um set
frutas1.remove("laranja")
print(frutas1)

frutas1.discard("kiwi")
print(frutas1)

In [ ]:
# Verificando se duas listas são iguais
frutas1 = ["banana", "morango", "kiwi"]
frutas2 = ["morango", "morango", "banana", "morango", "kiwi", "kiwi", "banana", "morango"]

if set(frutas1) == set(frutas2):
  print("As frutas são iguais")
else:
  print("As frutas são diferentes")

In [ ]:
# Método clear
frutas.clear()
print(frutas)