# **Saída de dados em Python**

In [ ]:
# Comando para saída de dados em Python
print('Olá mundo!')

In [ ]:
# Utilizando o print para diversos tipos de dados diferentes
print('Bismark')
print(35)
print(1.88)
print(True)

In [ ]:
# Imprimindo valores de variáveis
email = 'bismark@email.com'
idade = 32
altura = 1.88
print(email)
print(idade)
print(altura)

In [ ]:
# Imprimindo valores em um único comando print
print(email, idade, altura)
print('Endereço de email: ', email, ' idade: ', idade, ' altura: ', altura)

In [ ]:
# Utilizando o parâmetro sep
print('Laranja', 'Uva', 'Banana', sep=',')

In [ ]:
dia = 10
mes = 4
ano = 2025
print(dia, mes, ano, sep='-')

In [ ]:
# Utilizando o parâmetro end
print('Laranja')
print('Uva')
print('Banana')

In [ ]:
print('Laranja', end=',')
print('Uva', end=',')
print('Banana', end='.')